absl-py==2.0.0
aio-pika==9.3.1
aiormq==6.7.7
astropy==6.0.0
astropy-iers-data==0.2023.12.11.0.31.11
attrs==23.1.0
chex==0.1.7
click==8.1.7
click-default-group==1.2.4
contextlib2==21.6.0
contourpy==1.1.1
cycler==0.12.1
daemonocle==1.2.3
dm-tree==0.1.8
etils==1.6.0
flax==0.7.5
fonttools==4.43.1
fsspec==2023.12.2
idna==3.6
importlib-resources==6.1.1
invoke==2.2.0
jax==0.4.21
jaxlib==0.4.21
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
kiwisolver==1.4.5
makefun==1.15.2
markdown-it-py==3.0.0
matplotlib==3.8.0
mdurl==0.1.2
ml-dtypes==0.3.1
ml_collections==0.1.1
msgpack==1.0.7
multidict==6.0.4
nest-asyncio==1.5.8
nptyping==2.5.0
numpy==1.26.2
opt-einsum==3.3.0
optax==0.1.7
orbax-checkpoint==0.4.7
packaging==23.2
pamqp==3.2.1
Pillow==10.0.1
prompt-toolkit==3.0.41
protobuf==4.25.1
psutil==5.9.6
pyerfa==2.0.1.1
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
python-json-logger==2.0.7
PyYAML==6.0.1
referencing==0.32.0
rich==13.7.0
rpds-py==0.13.2
scipy==1.11.4
sdss-archon @ file:///home/ls4/archon/ls4_control/archon-main
sdss-clu==2.2.2
sdsstools==1.5.5
six==1.16.0
tensorstore==0.1.51
toolz==0.12.0
typing_extensions==4.9.0
unclick==0.1.0
wcwidth==0.2.12
wrapt==1.16.0
yarl==1.9.4
zipp==3.17.0
